<!DOCTYPE html>
<html lang="en" ng-app="httpdemo_ritesh">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script>
        var myvar = angular.module("httpdemo_ritesh", []);
        myvar.controller("myctrl", function ($scope, $http) {
            $scope.data = [];
            $scope.error = '';
            $scope.getData = function () {
                $scope.data = $http.get("http://jsonplaceholder.typicode.com/users")
                    .then(
                        function (response) {
                            $scope.data = response.data;
                        }, function (error) {
                            $scope.error = 'Error Fetch...';
                        });
            }
        });
    </script>
</head>

<body>
    <div ng-controller="myctrl">
        <button ng-click="getData()">Get Data</button>
        <li ng-repeat="user in data">Data:{{ user.name }}</li>
        <p>Error:{{ error }}</p>
    </div>
</body>

</html>