<!DOCTYPE html>
<html ng-app="resource_ritesh">
<head>
    <title>Dependency injection demo</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script>
        var app = angular.module('resource_ritesh', []);
        app.service('MathService', function () {
            this.add= function(a, b) {
                return a + b;
            };
        });
        app.controller('MainController', function($scope, MathService) {
            $scope.addNumbers = function () {
                $scope.result = MathService.add($scope.num1, $scope.num2);
            };
        });
    </script>
</head>
<body>
    <div ng-controller="MainController">
        <h2>Dependency Injection in Angular JS</h2>
        <p>Number 1: <input type="number" ng-model="num1"></p>
        <p>Number 2: <input type="number" ng-model="num2"></p>
        <button ng-click="addNumbers()">Add Number </button>
        <p>Result: {{ result }}</p>
    </div>
</body>
</html>